.slackside-one-regular {
  font-family: "Slackside One", cursive;
  font-weight: 400;
  font-style: normal;
}

.zen-loop-regular {
  font-family: "Zen Loop", cursive;
  font-weight: 400;
  font-style: normal;
}

.zen-loop-regular-italic {
  font-family: "Zen Loop", cursive;
  font-weight: 400;
  font-style: italic;
}

.whisper-regular {
  font-family: "Whisper", cursive;
  font-weight: 400;
  font-style: normal;
}

.unkempt-regular {
  font-family: "Unkempt", cursive;
  font-weight: 400;
  font-style: normal;
}

.unkempt-bold {
  font-family: "Unkempt", cursive;
  font-weight: 700;
  font-style: normal;
}



.reenie-beanie-regular {
  font-family: "Reenie Beanie", cursive;
  font-weight: 400;
  font-style: normal;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.nothing-you-could-do-regular {
  font-family: "Nothing You Could Do", cursive;
  font-weight: 400;
  font-style: normal;
}

.nanum-pen-script-regular {
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.macondo-swash-caps-regular {
  font-family: "Macondo Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
}

.lovers-quarrel-regular {
  font-family: "Lovers Quarrel", cursive;
  font-weight: 400;
  font-style: normal;
}
.itim-regular {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}
.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}
.fuggles-regular {
  font-family: "Fuggles", cursive;
  font-weight: 400;
  font-style: normal;
}

.estonia-regular {
  font-family: "Estonia", cursive;
  font-weight: 400;
  font-style: normal;
}
